.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px 20px;
    color: white;
    background-color: rgb(63, 113, 184);
    font-size: 1.2rem;
    font-weight: bold;
    align-items: center;

    nav {
        display: flex;
        gap: 15px;

        a {
            color: white;
            font-size: 1.8rem;
            text-decoration: none;
        }
    }

}

.homeLink {
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
}

.exitButton {
    
            color: white;
            background-color: rgb(215, 8, 8);
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            transition: all .3s ease;
    
            &:hover {
                background-color: rgb(230, 102, 119);
            }
        }
